@import url('https://fonts.googleapis.com/css?family=Karla');

.App {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-family: 'Karla', sans-serif;
  color: white;
}

.Navigation {
  flex: 1;
  background: #101238;
  padding: 1vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.is-active {
  color: grey;
}

.NavTitle {
  flex: 2;
  padding-top: 8vh;
}

.NavTitle > h1 {
  text-align: center;
  line-height: 0px;
}

.NavTitle > h1 > span {
  background: -webkit-linear-gradient(#6E45E1, #89D4CF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.NavTitle {
  text-align: center;
}

.NavTitle > span {
  font-size: 0.8em;
  text-align: center;
}

.Navigation > ul {
  flex: 5;
}

.Navigation > ul > li {
  list-style: none;
  line-height: 10vh;
  font-size: 2em;
}

.Navigation > ul > li > a {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

.Navigation > ul > li > a:hover {
  color: grey;
}

.Content {
  flex: 5;
  background: linear-gradient(to bottom, #0483A8, #1F3F77);
  padding: 1vw;
  overflow-y: scroll;
}

.Home {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.linkIcon {
  font-size: 3em;
}

.TitleContainer > h1 {
  background: -webkit-linear-gradient(#080B53, #1F3F77);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
}

.TitleContainer > p {
  font-size: 1.5em;
}

.TitleContainer > p > i > a {
  text-decoration: none;
  color: white;
}

.TitleContainer > ul {
  list-style: none;
}

.TitleContainer > ul > li {
  display: inline-block;
  font-size: 1.5em;
  margin: 4vw;
}

.TitleContainer > ul > li > a {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

.TitleContainer > ul > li > a:hover {
  color: grey;
}

.Summary {
  display: flex;
  flex-direction: column;
}

.Summary > div > span, .SubBoxes > div > span {
  font-size: 1.3em;
}

.MainBox {
  padding: 2vw;
  margin: 3.5vh 0vw 3.5vh 0vw;
  background: #101238;
  border-right: 10px solid lightblue;
}

.MainBox > h2 {
  font-size: 3em;
  text-align: center;
}

.SubBoxes {
  display: flex;
  flex-direction: row;
}

.SubBox {
  flex: 1;
  padding: 2vw;
  background: #101238;
  border-right: 10px solid lightblue;
}

.SubBox:first-child {
  margin-right: 1vw;
}

.SubBox:last-child {
  margin-left: 1vw;
}

.SubBox > h3 {
  font-size: 3em;
  text-align: center;
}

.plusQuestion {
  font-size: 0.8em;
}

.QuestionBox {
  padding: 1vw;
  text-align: center;
}

.QuestionBox:hover {
  cursor: pointer;
  user-select: none;
}

.Data > iframe {
  width: 86.5%;
  height: 97vh;
  margin-left: 7vw;
}
